.img
{
    width: 200px;
}

.groupomania-color
{
    background-color: #091f43;
}

.groupomania-color2
{
    background-color: #d1515a;
}

.text-groupomania
{
    color: #091f43;
}

body
{
    background-color: #bfbeb9;
}

.titlecom
{
    margin-bottom: 0;
}

.post
{
    height: auto !important;
}

.labelstyle
{
    margin-bottom: 0;
    width: 50%;
}

.sendcom
{
    height: 60%;
    margin-top: auto;
}
